# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/search-server/search-server.sln
/.vs
/CppProperties.json
/search-server/.vs/search-server/v17
/search-server/.vs/search-server/FileContentIndex
/search-server/x64/Debug/search-server.tlog
/search-server/x64/Debug
/search-server/search-server.vcxproj.user
/search-server/search-server.vcxproj.filters
/search-server/search-server.vcxproj
